 
<body background="http://www.wallpaper4me.com/images/wallpapers/mapforintel-433270.jpeg">

</br>

<font face="Courier New" size="30" color="red">Welcome to Dodson Construction!</font>
</br></br>
<%= link_to "Solicitations", solicitations_path %>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>

<h6>Matt Beck is awesome.</h6>



